:root {

  /* primitive */
  --ws-color-gray-basic-gray-900: #202020;
  --ws-color-system-danger-900: #390D05;
  --ws-color-system-warning-900: #2E1F00;
  --ws-color-system-warning-800: #422C00;
  --ws-color-system-warning-700: #614100;
  --ws-color-system-warning-600: #8A5C00;
  --ws-color-system-warning-500: #9E6A00;
  --ws-color-system-warning-400: #C78500;
  --ws-color-system-warning-300: #FFB114;
  --ws-color-system-warning-200: #FFC95C;
  --ws-color-system-warning-100: #FFE0A3;
  --ws-color-system-warning-50: #FFF3DB;
  --ws-color-system-danger-800: #5C180A;
  --ws-color-system-danger-700: #8A240F;
  --ws-color-system-danger-600: #BD2C0F;
  --ws-color-system-danger-500: #DE3412;
  --ws-color-system-danger-400: #F05F42;
  --ws-color-system-danger-300: #F48771;
  --ws-color-system-danger-200: #F7AFA1;
  --ws-color-system-danger-100: #FCDFD9;
  --ws-color-system-danger-50: #FDEFEC;
  --ws-color-system-success-900: #122B18;
  --ws-color-system-success-800: #1F4727;
  --ws-color-system-success-700: #285D33;
  --ws-color-system-success-600: #267337;
  --ws-color-system-success-500: #228738;
  --ws-color-system-success-400: #3FA654;
  --ws-color-system-success-300: #7EC88E;
  --ws-color-system-success-200: #A9DAB4;
  --ws-color-system-success-100: #D8EEDD;
  --ws-color-system-success-50: #EAF6EC;
  --ws-color-system-information-900: #03253F;
  --ws-color-system-information-800: #053961;
  --ws-color-system-information-700: #085691;
  --ws-color-system-information-600: #096AB3;
  --ws-color-system-information-500: #0B78CB;
  --ws-color-system-information-400: #2098F3;
  --ws-color-system-information-300: #5FB5F7;
  --ws-color-system-information-200: #9ED2FA;
  --ws-color-system-information-100: #D3EBFD;
  --ws-color-system-information-50: #E7F4FE;
  --ws-color-alpha-black72: #000000B8;
  --ws-color-alpha-black40: #00000066;
  --ws-color-alpha-black24: #0000003D;
  --ws-color-alpha-black12: #0000001F;
  --ws-color-alpha-black0: #00000000;
  --ws-color-alpha-white72: #FFFFFFB8;
  --ws-color-alpha-white40: #FFFFFF66;
  --ws-color-alpha-white24: #FFFFFF3D;
  --ws-color-alpha-white12: #FFFFFF1F;
  --ws-color-gray-basic-gray-800: #333333;
  --ws-color-gray-basic-gray-700: #555555;
  --ws-color-gray-basic-gray-600: #888888;
  --ws-color-gray-basic-gray-500: #AAAAAA;
  --ws-color-gray-basic-gray-400: #CCCCCC;
  --ws-color-gray-basic-gray-300: #DDDDDD;
  --ws-color-gray-basic-gray-200: #EEEEEE;
  --ws-color-gray-basic-gray-100: #F6F6F6;
  --ws-color-gray-basic-gray-50: #F9F9F9;
  --ws-color-gray-gray-900: var(--ws-color-gray-cool-gray-900);
  --ws-color-gray-gray-800: var(--ws-color-gray-cool-gray-800);
  --ws-color-gray-gray-700: var(--ws-color-gray-cool-gray-700);
  --ws-color-gray-gray-600: var(--ws-color-gray-cool-gray-600);
  --ws-color-gray-gray-500: var(--ws-color-gray-cool-gray-500);
  --ws-color-gray-gray-400: var(--ws-color-gray-cool-gray-400);
  --ws-color-gray-gray-300: var(--ws-color-gray-cool-gray-300);
  --ws-color-gray-gray-200: var(--ws-color-gray-cool-gray-200);
  --ws-color-gray-gray-100: var(--ws-color-gray-cool-gray-100);
  --ws-color-gray-gray-50: var(--ws-color-gray-cool-gray-50);
  --ws-color-gray-dark-gray-950: #131416;
  --ws-color-gray-dark-gray-900: #1E2124;
  --ws-color-gray-dark-gray-800: #33363D;
  --ws-color-gray-dark-gray-700: #464C53;
  --ws-color-gray-dark-gray-600: #5A6168;
  --ws-color-gray-dark-gray-500: #6D7882;
  --ws-color-gray-dark-gray-400: #8A949E;
  --ws-color-gray-dark-gray-300: #B1B8BE;
  --ws-color-gray-dark-gray-200: #CDD1D5;
  --ws-color-gray-dark-gray-100: #E6E8EA;
  --ws-color-gray-dark-gray-50: #F4F5F6;
  --ws-color-primary-900: #03163A;
  --ws-color-primary-800: #052561;
  --ws-color-primary-700: #083891;
  --ws-color-primary-600: #0B50D0;
  --ws-color-primary-500: #256EF4;
  --ws-color-primary-400: #4C87F6;
  --ws-color-primary-300: #86AFF9;
  --ws-color-primary-200: #B1CEFB;
  --ws-color-primary-100: #D8E5FD;
  --ws-color-primary-50: #ECF2FE;
  --ws-color-secondary-900: #004A48;
  --ws-color-secondary-800: #00615F;
  --ws-color-secondary-700: #007E7A;
  --ws-color-secondary-600: #00A19D;
  --ws-color-secondary-500: #00B1AC;
  --ws-color-secondary-400: #33C1BD;
  --ws-color-secondary-300: #54CBC7;
  --ws-color-secondary-200: #8ADBD9;
  --ws-color-secondary-100: #B0E7E5;
  --ws-number-10: 10px;
  --ws-number-6: 6px;
  --ws-number-1: 1px;
  --ws-number-5: 5px;
  --ws-number-18: 18px;
  --ws-number-16: 16px;
  --ws-number-2: 2px;
  --ws-number-11: 11px;
  --ws-number-8: 8px;
  --ws-number-15: 15px;
  --ws-number-12: 12px;
  --ws-number-4: 4px;
  --ws-number-14: 14px;
  --ws-number-13: 13px;
  --ws-number-0: 0;
  --ws-number-20: 20px;
  --ws-number-22: 22px;
  --ws-number-28: 28px;
  --ws-number-24: 24px;
  --ws-number-32: 32px;
  --ws-number-36: 36px;
  --ws-number-40: 40px;
  --ws-color-base-0: #FFFFFF;
  --ws-color-base-900: #000000;
  --ws-color-gray-cool-gray-50: #F9FAFB;
  --ws-color-gray-cool-gray-100: #F4F6F8;
  --ws-color-gray-cool-gray-200: #EAEEF1;
  --ws-color-gray-cool-gray-300: #DCE0E4;
  --ws-color-gray-cool-gray-400: #C4CDD5;
  --ws-color-gray-cool-gray-500: #A7B1BB;
  --ws-color-gray-cool-gray-600: #637381;
  --ws-color-gray-cool-gray-700: #454F5B;
  --ws-color-gray-cool-gray-800: #212B36;
  --ws-color-gray-cool-gray-900: #161C24;
  --ws-color-alpha-alpha0: transparent;
  --ws-color-gray-dark-gray-850: #282C31;
  --ws-color-point-red-50: #FBEFF0;
  --ws-color-point-red-100: #F5D6D9;
  --ws-color-point-red-200: #EBADB2;
  --ws-color-point-red-300: #E0858C;
  --ws-color-point-red-400: #D65C66;
  --ws-color-point-red-500: #D63D4A;
  --ws-color-point-red-600: #AB2B36;
  --ws-color-point-red-700: #7A1F26;
  --ws-color-point-red-800: #521419;
  --ws-color-point-red-900: #310C0F;
  --ws-color-point-blue-50: #ECF2FE;
  --ws-color-point-blue-100: #D8E5FD;
  --ws-color-point-blue-200: #B1CEFB;
  --ws-color-point-blue-300: #86AFF9;
  --ws-color-point-blue-400: #4C87F6;
  --ws-color-point-blue-500: #256EF4;
  --ws-color-point-blue-600: #0B50D0;
  --ws-color-point-blue-700: #083891;
  --ws-color-point-blue-800: #052561;
  --ws-color-point-blue-900: #03163A;
  --ws-color-high-contrast-primary-50: #D4E2FF;
  --ws-color-high-contrast-primary-100: #A8C5FF;
  --ws-color-high-contrast-primary-200: #82A7FF;
  --ws-color-high-contrast-primary-300: #5C8AFF;
  --ws-color-high-contrast-primary-400: #4D7CFF;
  --ws-color-high-contrast-primary-500: #256EF4;
  --ws-color-high-contrast-primary-600: #1E5AD1;
  --ws-color-high-contrast-primary-700: #364E80;
  --ws-color-high-contrast-primary-800: #2D3D5D;
  --ws-color-high-contrast-primary-900: #26324A;
  --ws-color-secondary-50: #E6F7F7;

  /* mode */
  --ws-shadow-blur-4: light-dark(24px, 24px);
  --ws-shadow-blur-3: light-dark(16px, 16px);
  --ws-shadow-y-4: light-dark(16px, 16px);
  --ws-shadow-y-3: light-dark(8px, 8px);
  --ws-color-background-bg-400: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-500));
  --ws-color-border-base-base-0: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-icon-primary: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-400));
  --ws-color-button-fill-primary-bg: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-input-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-background-bg-300: light-dark(var(--ws-color-gray-gray-300), var(--ws-color-gray-dark-gray-600));
  --ws-color-background-bg-200: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-700));
  --ws-color-background-bg-100: light-dark(var(--ws-color-gray-gray-100), var(--ws-color-gray-dark-gray-800));
  --ws-color-background-bg-50: light-dark(var(--ws-color-gray-gray-50), var(--ws-color-gray-dark-gray-900));
  --ws-color-background-base-0: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-950));
  --ws-color-background-bg-500: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-400));
  --ws-color-background-bg-600: light-dark(var(--ws-color-gray-gray-600), var(--ws-color-gray-dark-gray-300));
  --ws-color-background-bg-700: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-200));
  --ws-color-background-bg-800: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-100));
  --ws-color-background-bg-900: light-dark(var(--ws-color-gray-gray-900), var(--ws-color-gray-dark-gray-50));
  --ws-color-border-base-bd-200: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-800));
  --ws-color-border-base-bd-300: light-dark(var(--ws-color-gray-gray-300), var(--ws-color-gray-dark-gray-700));
  --ws-color-border-base-bd-400: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-border-base-bd-500: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-500));
  --ws-color-border-base-bd-800: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-border-base-danger: light-dark(var(--ws-color-system-danger-500), var(--ws-color-system-danger-400));
  --ws-color-border-base-warning: light-dark(var(--ws-color-system-warning-500), var(--ws-color-system-warning-400));
  --ws-color-border-base-success: light-dark(var(--ws-color-system-success-500), var(--ws-color-system-success-400));
  --ws-color-border-base-information: light-dark(var(--ws-color-system-information-500), var(--ws-color-system-information-400));
  --ws-color-border-divider-inverse: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-border-divider-dafault: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-border-divider-dark: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-icon-gray: light-dark(var(--ws-color-gray-gray-600), var(--ws-color-gray-dark-gray-400));
  --ws-color-icon-disabled: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-500));
  --ws-color-icon-inverse-static: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-50));
  --ws-color-button-fill-primary-hover-bg: light-dark(var(--ws-color-primary-600), var(--ws-color-primary-600));
  --ws-color-button-fill-primary-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-button-fill-primary-hover-bd: light-dark(var(--ws-color-primary-600), var(--ws-color-primary-600));
  --ws-color-button-fill-primary-txt: light-dark(var(--ws-color-text-inverse-static), var(--ws-color-text-inverse-static));
  --ws-color-button-fill-gray-bg: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-600));
  --ws-color-button-fill-gray-hover-bg: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-500));
  --ws-color-button-fill-gray-bd: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-600));
  --ws-color-button-fill-gray-hover-bd: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-500));
  --ws-color-button-fill-gray-txt: light-dark(var(--ws-color-text-inverse-static), var(--ws-color-text-inverse-static));
  --ws-color-button-fill-focus-bd: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-button-fill-disabled-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-button-fill-disabled-bd: light-dark(var(--ws-color-gray-gray-400), #5A616899);
  --ws-color-button-fill-disabled-txt: light-dark(var(--ws-color-text-disabled), var(--ws-color-text-disabled));
  --ws-color-form-input-req-bg: light-dark(var(--ws-color-point-blue-50), var(--ws-color-gray-dark-gray-900));
  --ws-color-button-outline-primary-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-button-outline-primary-hover-bg: light-dark(var(--ws-color-primary-50), var(--ws-color-gray-dark-gray-700));
  --ws-color-button-outline-primary-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-400));
  --ws-color-form-input-disabled-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-button-outline-primary-hover-bd: light-dark(var(--ws-color-primary-600), var(--ws-color-primary-600));
  --ws-color-form-input-readonly-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-button-outline-primary-txt: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-400));
  --ws-color-form-input-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-input-hover-bd: light-dark(var(--ws-color-gray-gray-600), var(--ws-color-gray-dark-gray-400));
  --ws-color-form-input-focus-bd: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-form-input-req-bd: light-dark(var(--ws-color-point-blue-500), var(--ws-color-high-contrast-primary-400));
  --ws-color-form-input-error-bd: light-dark(var(--ws-color-system-danger-500), var(--ws-color-system-danger-400));
  --ws-color-form-input-disabled-bd: light-dark(var(--ws-color-gray-gray-400), #5A616899);
  --ws-color-button-outline-gray-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-button-outline-gray-hover-bg: light-dark(var(--ws-color-gray-gray-50), var(--ws-color-gray-dark-gray-700));
  --ws-color-button-outline-gray-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-button-outline-gray-hover-bd: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-500));
  --ws-color-button-outline-gray-txt: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-200));
  --ws-color-button-outline-focus-bd: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-button-outline-disabled-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-button-outline-disabled-bd: light-dark(var(--ws-color-gray-gray-400), #5A616899);
  --ws-color-button-outline-disabled-txt: light-dark(var(--ws-color-text-disabled), var(--ws-color-text-disabled));
  --ws-color-icon-dark: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-text-secondary-text-2: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-100));
  --ws-color-text-secondary-text-3: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-200));
  --ws-color-text-primary-text-1: light-dark(var(--ws-color-gray-gray-900), var(--ws-color-gray-dark-gray-50));
  --ws-color-text-inverse-static: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-50));
  --ws-color-text-disabled: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-500));
  --ws-color-text-placeholder: light-dark(var(--ws-color-gray-gray-500), var(--ws-color-gray-dark-gray-500));
  --ws-color-text-readonly: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-200));
  --ws-color-text-point-red-1: light-dark(var(--ws-color-point-red-500), var(--ws-color-point-red-400));
  --ws-color-text-point-blue-1: light-dark(var(--ws-color-point-blue-500), var(--ws-color-point-blue-400));
  --ws-color-text-system-danger: light-dark(var(--ws-color-system-danger-600), var(--ws-color-system-danger-400));
  --ws-color-text-system-warning: light-dark(var(--ws-color-system-warning-600), var(--ws-color-system-warning-400));
  --ws-color-text-system-success: light-dark(var(--ws-color-system-success-600), var(--ws-color-system-success-400));
  --ws-color-text-system-information: light-dark(var(--ws-color-system-information-600), var(--ws-color-system-information-400));
  --ws-color-form-check-radio-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-850));
  --ws-color-form-check-radio-disabled-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-form-check-radio-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-check-radio-hover-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-check-radio-disabled-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-check-radio-checked-bg: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-check-radio-checked-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-border-base-bd-600: light-dark(var(--ws-color-gray-gray-600), var(--ws-color-gray-dark-gray-400));
  --ws-color-form-toggle-on-bg: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-toggle-off-bg: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-gray-400));
  --ws-color-icon-information: light-dark(var(--ws-color-system-information-500), var(--ws-color-system-information-400));
  --ws-color-icon-danger: light-dark(var(--ws-color-system-danger-500), var(--ws-color-system-danger-400));
  --ws-color-icon-success: light-dark(var(--ws-color-system-success-500), var(--ws-color-system-success-400));
  --ws-color-icon-warning: light-dark(var(--ws-color-system-warning-500), var(--ws-color-system-warning-400));
  --ws-color-form-check-radio-focus-bd: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-200));
  --ws-color-grid-zibara-1: light-dark(var(--ws-color-background-base-0), var(--ws-color-background-base-0));
  --ws-color-grid-zibara-2: light-dark(var(--ws-color-background-bg-50), var(--ws-color-background-bg-50));
  --ws-color-grid-subtotal: light-dark(var(--ws-color-secondary-100), #2A3C3D);
  --ws-color-grid-total: light-dark(var(--ws-color-background-base-0), var(--ws-color-background-base-0));
  --ws-color-grid-hover: light-dark(var(--ws-color-primary-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-grid-selected-row: light-dark(#E8E8FC, #282B3F);
  --ws-color-grid-header: light-dark(var(--ws-color-background-bg-50), var(--ws-color-background-bg-50));
  --ws-color-grid-disabled: light-dark(var(--ws-color-form-input-disabled-bg), var(--ws-color-form-input-disabled-bg));
  --ws-color-grid-readonly: light-dark(var(--ws-color-form-input-disabled-bg), var(--ws-color-form-input-disabled-bg));
  --ws-color-grid-req: light-dark(var(--ws-color-form-input-req-bg), var(--ws-color-form-input-req-bg));
  --ws-color-grid-legend-1: light-dark(#FEF6F5, #4A2521);
  --ws-color-grid-legend-2: light-dark(#FFFCF4, #453B1D);
  --ws-color-grid-legend-3: light-dark(#F9F5FE, #322A4D);
  --ws-color-grid-legend-4: light-dark(#EFFEF0, #1B3D2D);
  --ws-color-grid-legend-5: light-dark(#FEF3FE, #3D264A);
  --ws-color-grid-legend-6: light-dark(#EFF7FF, #1E3152);
  --ws-color-form-input-icon-hover-bg: light-dark(var(--ws-color-background-bg-200), var(--ws-color-background-bg-200));
  --ws-color-grid-selected: light-dark(#E0E0FF, #353758);
  --ws-color-border-base-bd-700: light-dark(var(--ws-color-gray-gray-700), var(--ws-color-gray-dark-gray-300));
  --ws-color-text-secondary-text-4: light-dark(var(--ws-color-gray-gray-600), var(--ws-color-gray-dark-gray-400));
  --ws-color-form-input-req-hover-bg: light-dark(var(--ws-color-point-blue-200), var(--ws-color-high-contrast-primary-700));
  --ws-color-background-bg-default: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-950));
  --ws-color-surface-login-visual: light-dark(var(--ws-color-gray-gray-900), var(--ws-color-gray-dark-gray-900));
  --ws-color-surface-header-static: light-dark(var(--ws-color-gray-gray-800), var(--ws-color-gray-dark-gray-900));
  --ws-color-surface-widget: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-surface-information: light-dark(var(--ws-color-system-information-50), #1A2B3C);
  --ws-color-surface-error: light-dark(var(--ws-color-system-danger-50), #3C1C1C);
  --ws-color-surface-success: light-dark(var(--ws-color-system-success-50), #1C3321);
  --ws-color-surface-warning: light-dark(var(--ws-color-system-warning-50), #3D321A);
  --ws-color-form-listitem-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-form-listitem-hover-bg: light-dark(var(--ws-color-primary-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-form-listitem-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-listitem-disabled-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-high-contrast-primary-700));
  --ws-color-form-listitem-req-bg: light-dark(var(--ws-color-point-blue-50), var(--ws-color-gray-dark-gray-900));
  --ws-color-form-listitem-req-hover-bg: light-dark(var(--ws-color-point-blue-200), var(--ws-color-high-contrast-primary-700));
  --ws-color-form-listitem-req-bd: light-dark(var(--ws-color-point-blue-500), var(--ws-color-high-contrast-primary-400));
  --ws-color-form-listitem-readonly-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-high-contrast-primary-700));
  --ws-color-form-listitem-error-bd: light-dark(var(--ws-color-system-danger-500), var(--ws-color-system-danger-400));
  --ws-color-form-listitem-disabled-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-listitem-selected-bg: light-dark(var(--ws-color-primary-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-background-bg-blue-50: light-dark(var(--ws-color-point-blue-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-form-calendar-bg: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-form-calendar-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-calendar-hover-bg: light-dark(var(--ws-color-point-blue-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-surface-title-info-badge: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-icon-inverse: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-surface-lnb-tab-default: light-dark(var(--ws-color-gray-gray-900), var(--ws-color-high-contrast-primary-500));
  --ws-color-surface-bg-lnb: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-surface-bg-right-quick: light-dark(var(--ws-color-base-0), var(--ws-color-gray-dark-gray-900));
  --ws-color-form-listitem-hover-bd: light-dark(var(--ws-color-gray-gray-400), var(--ws-color-gray-dark-gray-600));
  --ws-color-form-calendar-day-bg: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-bd: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-txt: light-dark(var(--ws-color-text-secondary-text-3), var(--ws-color-text-secondary-text-3));
  --ws-color-form-calendar-day-hover-bg: light-dark(var(--ws-color-primary-50), var(--ws-color-high-contrast-primary-900));
  --ws-color-form-calendar-day-hover-bd: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-hover-txt: light-dark(var(--ws-color-primary-600), var(--ws-color-primary-400));
  --ws-color-form-calendar-day-selected-bg: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-calendar-day-selected-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-500));
  --ws-color-form-calendar-day-selected-txt: light-dark(var(--ws-color-text-inverse-static), var(--ws-color-text-inverse-static));
  --ws-color-form-calendar-day-dayoff-bg: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-dayoff-bd: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-dayoff-txt: light-dark(var(--ws-color-text-disabled), var(--ws-color-text-disabled));
  --ws-color-form-calendar-day-today-bg: light-dark(var(--ws-color-alpha-black0), var(--ws-color-alpha-black0));
  --ws-color-form-calendar-day-today-bd: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-400));
  --ws-color-form-calendar-day-today-txt: light-dark(var(--ws-color-primary-500), var(--ws-color-primary-400));
  --ws-color-form-calendar-day-sun-txt: light-dark(var(--ws-color-text-point-red-1), var(--ws-color-text-point-red-1));
  --ws-color-form-calendar-day-sat-txt: light-dark(var(--ws-color-text-point-blue-1), var(--ws-color-text-point-blue-1));
  --ws-color-form-calendar-month-bg: light-dark(var(--ws-color-gray-gray-200), var(--ws-color-gray-dark-gray-800));
  --ws-color-icon-req: light-dark(var(--ws-color-point-blue-500), var(--ws-color-point-blue-400));

  /* semantic */
  --ws-spacing-padding-40: 40px;
  --ws-spacing-padding-32: 32px;
  --ws-spacing-padding-16: 16px;
  --ws-spacing-padding-24: 24px;
  --ws-spacing-padding-10: 10px;
  --ws-spacing-padding-4: 4px;
  --ws-spacing-padding-20: 20px;
  --ws-spacing-padding-12: 12px;
  --ws-spacing-padding-8: 8px;
  --ws-spacing-padding-2: 2px;
  --ws-spacing-gap-40: 40px;
  --ws-spacing-gap-32: 32px;
  --ws-spacing-gap-24: 24px;
  --ws-spacing-gap-20: 20px;
  --ws-spacing-gap-10: 10px;
  --ws-spacing-gap-16: 16px;
  --ws-spacing-gap-8: 8px;
  --ws-spacing-gap-4: 4px;
  --ws-spacing-gap-12: 12px;
  --ws-spacing-gap-2: 2px;
  --ws-spacing-radius-2: 2px;
  --ws-spacing-radius-4: 4px;
  --ws-spacing-radius-6: 6px;
  --ws-spacing-radius-8: 8px;
  --ws-spacing-radius-10: 10px;
  --ws-spacing-radius-12: 12px;
  --ws-spacing-radius-16: 16px;
  --ws-spacing-radius-20: 20px;
  --ws-spacing-radius-0: 0;
  --ws-spacing-gap-6: 6px;
  --ws-spacing-padding-6: 6px;
  --ws-spacing-radius-24: 24px;
  --ws-spacing-radius-32: 32px;
  --ws-spacing-gap-28: 28px;
  --ws-spacing-radius-28: 28px;
  --ws-spacing-radius-72: 72px;
  --ws-spacing-padding-28: 28px;
  --ws-spacing-padding-48: 48px;
  --ws-spacing-gap-48: 48px;
  --ws-spacing-gap-72: 72px;
  --ws-spacing-gap-80: 80px;

  /* typography */
  --ws-font-family-pretendard: Pretendard;
  --ws-font-weight-700: Bold;
  --ws-font-weight-400: Regular;
  --ws-font-size-heading-h2: 20px;
  --ws-font-weight-600: Semibold;
  --ws-font-weight-500: Medium;
  --ws-font-size-body-b1: 12px;
  --ws-font-size-caption-c1: 11px;
  --ws-font-size-body-b2: 13px;
  --ws-font-size-body-b3: 14px;
  --ws-font-size-display-d1: 32px;
  --ws-font-size-display-d2: 36px;
  --ws-font-size-display-d3: 40px;
  --ws-font-size-heading-h4: 12px;
  --ws-font-size-heading-h3: 14px;
  --ws-font-size-body-b4: 16px;
  --ws-font-size-body-b5: 18px;

  /* ws */
  --ws-form-base-radius: var(--ws-spacing-radius-2);
  --ws-form-base-icon-hover-bg: var(--ws-color-background-bg-200);
  --ws-form-base-hover-bg: var(--ws-color-form-input-bg);
  --ws-form-base-font-size: var(--ws-font-size-body-b1);
  --ws-form-base-disabled-color: var(--ws-color-text-disabled);
  --ws-form-base-hover-bd: var(--ws-color-form-input-hover-bd);
  --ws-form-base-disabled-bg: var(--ws-color-form-input-disabled-bg);
  --ws-form-base-focus-bd: var(--ws-color-form-input-focus-bd);
  --ws-form-base-disabled-bd: var(--ws-color-form-input-disabled-bd);
  --ws-form-base-color: var(--ws-color-text-secondary-text-3);
  --ws-form-base-placeholder-color: var(--ws-color-text-placeholder);
  --ws-form-base-readonly-color: var(--ws-color-text-readonly);
  --ws-form-base-readonly-bg: var(--ws-color-form-input-readonly-bg);
  --ws-form-base-focus-bg: var(--ws-color-form-input-bg);
  --ws-form-base-readonly-bd: var(--ws-color-form-input-bd);
  --ws-form-base-height: 24px;
  --ws-form-req-color: var(--ws-color-text-point-blue-1);
  --ws-form-req-bg: var(--ws-color-form-input-req-bg);
  --ws-form-req-hover-bg: var(--ws-color-form-input-req-hover-bg);
  --ws-form-req-bd: var(--ws-color-form-input-req-bd);
  --ws-form-list-bg: var(--ws-color-form-input-bg);
  --ws-form-list-bd: var(--ws-color-form-input-bd);
  --ws-form-listitem-selected-bg: var(--ws-color-form-listitem-selected-bg);
  --ws-form-listitem-selected-bd: var(--ws-color-form-listitem-selected-bg);
  --ws-form-listitem-hover-bg: var(--ws-color-form-listitem-hover-bg);
  --ws-form-listitem-hover-bd: var(--ws-color-form-listitem-hover-bd);
  --ws-form-listitem-bg: var(--ws-color-form-listitem-bg);
  --ws-form-listitem-bd: var(--ws-color-form-listitem-bd);
  --ws-form-listitem-height: 24px;
  --ws-form-error-color: var(--ws-color-text-system-danger);
  --ws-form-error-bg: var(--ws-color-form-input-bg);
  --ws-form-error-bd: var(--ws-color-form-input-error-bd);
  --ws-check-base-selected-bd: var(--ws-color-form-check-radio-checked-bd);
  --ws-check-base-focus-bg: var(--ws-color-form-check-radio-bg);
  --ws-check-base-focus-bd: var(--ws-color-form-check-radio-focus-bd);
  --ws-check-base-hover-bg: var(--ws-color-form-check-radio-bg);
  --ws-check-base-font-size: var(--ws-font-size-body-b1);
  --ws-check-base-color: var(--ws-color-text-secondary-text-3);
  --ws-check-base-disabled-marker: var(--ws-color-form-check-radio-disabled-bg);
  --ws-check-base-hover-bd: var(--ws-color-form-check-radio-hover-bd);
  --ws-check-base-bg: var(--ws-color-form-check-radio-bg);
  --ws-check-base-disabled-bg: var(--ws-color-form-check-radio-disabled-bg);
  --ws-check-base-disabled-color: var(--ws-color-text-disabled);
  --ws-check-base-selected-bg: var(--ws-color-form-check-radio-checked-bg);
  --ws-check-base-selected-color: var(--ws-color-text-secondary-text-3);
  --ws-check-base-bd: var(--ws-color-form-check-radio-bd);
  --ws-check-base-disabled-bd: var(--ws-color-form-check-radio-disabled-bd);
  --ws-check-base-selected-marker: var(--ws-color-form-check-radio-checked-bg);
  --ws-table-base-td-bg: var(--ws-color-background-base-0);
  --ws-table-base-td-bd: var(--ws-color-border-base-bd-400);
  --ws-table-base-th-color: var(--ws-color-text-secondary-text-2);
  --ws-table-base-th-bg: var(--ws-color-background-bg-50);
  --ws-table-base-bd: var(--ws-color-border-base-bd-500);
  --ws-table-base-th-bd: var(--ws-color-border-base-bd-400);
  --ws-table-base-height: 30px;
  --ws-table-search-td-bg: var(--ws-color-alpha-black0);
  --ws-table-search-td-bd: var(--ws-color-alpha-black0);
  --ws-table-search-th-color: var(--ws-color-text-secondary-text-2);
  --ws-table-search-th-bg: var(--ws-color-alpha-black0);
  --ws-table-search-height: 24px;
  --ws-table-search-bg: var(--ws-color-background-bg-50);
  --ws-table-search-th-bd: var(--ws-color-alpha-black0);
  --ws-table-search-bd: var(--ws-color-border-base-bd-500);
  --ws-grid-base-cell-hover-bg: var(--ws-color-grid-hover);
  --ws-grid-base-cell-color: var(--ws-color-text-secondary-text-3);
  --ws-grid-base-cell-bg: var(--ws-color-grid-zibara-1);
  --ws-grid-base-header-bg: var(--ws-color-background-bg-50);
  --ws-grid-base-bg: var(--ws-color-background-base-0);
  --ws-grid-base-row-selected-bg: var(--ws-color-grid-selected-row);
  --ws-grid-base-footer-bg: var(--ws-color-background-base-0);
  --ws-grid-base-footer-bd: var(--ws-color-border-base-bd-500);
  --ws-grid-base-cell-bd: var(--ws-color-border-base-bd-400);
  --ws-grid-base-subtotal-bg: var(--ws-color-grid-subtotal);
  --ws-grid-base-subtotal-bd: var(--ws-color-border-base-bd-400);
  --ws-grid-base-footer-color: var(--ws-color-text-secondary-text-2);
  --ws-grid-base-subtotal-color: var(--ws-color-text-secondary-text-2);
  --ws-grid-base-header-bd: var(--ws-color-border-base-bd-400);
  --ws-grid-base-height: 30px;
  --ws-grid-base-row-hover-bg: var(--ws-color-grid-hover);
  --ws-grid-base-cell-selected-bg: var(--ws-color-grid-selected);
  --ws-grid-base-header-color: var(--ws-color-text-secondary-text-2);
  --ws-grid-base-bd: var(--ws-color-border-base-bd-500);
  --ws-tab-type01-menu-hover-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type01-menu-color: var(--ws-color-text-secondary-text-4);
  --ws-tab-type01-menu-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type01-menu-height: 28px;
  --ws-tab-type01-menu-disabled-color: var(--ws-color-text-disabled);
  --ws-tab-type01-menu-disabled-bg: var(--ws-color-background-bg-100);
  --ws-tab-type01-menu-disabled-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type01-menu-bg: var(--ws-color-background-bg-100);
  --ws-tab-type01-menu-selected-color: var(--ws-color-text-inverse-static);
  --ws-tab-type01-menu-hover-color: var(--ws-color-text-secondary-text-2);
  --ws-tab-type01-content-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type01-menu-hover-bg: var(--ws-color-background-bg-200);
  --ws-tab-type01-menu-selected-bg: var(--ws-color-primary-500);
  --ws-tab-type01-menu-selected-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type01-content-bg: var(--ws-color-background-base-0);
  --ws-tab-type01-bg: var(--ws-color-background-base-0);
  --ws-tab-type01-bd: var(--ws-color-border-base-bd-500);
  --ws-tab-type02-menu-selected-bd: var(--ws-color-border-base-bd-800);
  --ws-tab-type02-menu-color: var(--ws-color-text-secondary-text-4);
  --ws-tab-type02-menu-bg: var(--ws-color-alpha-black0);
  --ws-tab-type02-menu-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type02-menu-disabled-color: var(--ws-color-text-disabled);
  --ws-tab-type02-content-bg: var(--ws-color-background-base-0);
  --ws-tab-type02-menu-hover-color: var(--ws-color-text-secondary-text-2);
  --ws-tab-type02-menu-hover-bd: var(--ws-color-border-base-bd-800);
  --ws-tab-type02-content-bd: var(--ws-color-alpha-black0);
  --ws-tab-type02-menu-hover-bg: var(--ws-color-alpha-black0);
  --ws-tab-type02-bd: var(--ws-color-alpha-black0);
  --ws-tab-type02-menu-selected-bg: var(--ws-color-alpha-black0);
  --ws-tab-type02-menu-disabled-bd: var(--ws-color-border-base-bd-400);
  --ws-tab-type02-menu-selected-color: var(--ws-color-text-secondary-text-2);
  --ws-tab-type02-menu-height: 24px;
  --ws-tab-type02-menu-disabled-bg: var(--ws-color-alpha-black0);
  --ws-tab-type02-bg: var(--ws-color-alpha-black0);
  --ws-calendar-base-day-hover-color: var(--ws-color-form-calendar-day-hover-txt);
  --ws-calendar-base-day-hover-bg: var(--ws-color-form-calendar-day-hover-bg);
  --ws-calendar-base-day-bd: var(--ws-color-form-calendar-day-bd);
  --ws-calendar-base-day-bg: var(--ws-color-form-calendar-day-bg);
  --ws-calendar-base-day-sat-color: var(--ws-color-form-calendar-day-sat-txt);
  --ws-calendar-base-day-sun-color: var(--ws-color-form-calendar-day-sun-txt);
  --ws-calendar-base-day-color: var(--ws-color-form-calendar-day-txt);
  --ws-calendar-base-day-today-bg: var(--ws-color-form-calendar-day-today-bg);
  --ws-calendar-base-day-today-bd: var(--ws-color-form-calendar-day-today-bd);
  --ws-calendar-base-day-today-color: var(--ws-color-form-calendar-day-today-txt);
  --ws-calendar-base-day-dayoff-color: var(--ws-color-form-calendar-day-dayoff-txt);
  --ws-calendar-base-day-selected-bd: var(--ws-color-form-calendar-day-selected-bd);
  --ws-calendar-base-day-dayoff-bd: var(--ws-color-form-calendar-day-dayoff-bd);
  --ws-calendar-base-day-selected-color: var(--ws-color-form-calendar-day-selected-txt);
  --ws-calendar-base-day-selected-bg: var(--ws-color-form-calendar-day-selected-bg);
  --ws-calendar-base-bd: var(--ws-color-form-calendar-bd);
  --ws-calendar-base-day-dayoff-bg: var(--ws-color-form-calendar-day-dayoff-bg);
  --ws-calendar-base-day-hover-bd: var(--ws-color-form-calendar-day-hover-bd);
  --ws-calendar-base-bg: var(--ws-color-form-calendar-bg);
  --ws-paging-base-num-color: var(--ws-color-text-readonly);
  --ws-paging-base-num-bg: var(--ws-color-border-base-bd-300);
  --ws-paging-base-num-bd: var(--ws-color-background-bg-300);
  --ws-paging-base-btn-disabled-bd: var(--ws-color-button-outline-disabled-bd);
  --ws-paging-base-btn-bg: var(--ws-color-button-outline-gray-bg);
  --ws-paging-base-btn-hover-bd: var(--ws-color-button-outline-gray-hover-bd);
  --ws-paging-base-num-disabled-color: var(--ws-color-text-disabled);
  --ws-paging-base-num-disabled-bg: var(--ws-color-button-fill-disabled-bg);
  --ws-paging-base-num-disabled-bd: var(--ws-color-button-fill-disabled-bg);
  --ws-paging-base-num-selected-color: var(--ws-color-text-inverse-static);
  --ws-paging-base-num-selected-bg: var(--ws-color-background-bg-700);
  --ws-paging-base-num-selected-bd: var(--ws-color-border-base-bd-700);
  --ws-paging-base-num-hover-bd: var(--ws-color-button-fill-focus-bd);
  --ws-paging-base-num-hover-color: var(--ws-color-text-readonly);
  --ws-paging-base-btn-disabled-bg: var(--ws-color-button-outline-disabled-bg);
  --ws-paging-base-num-hover-bg: var(--ws-color-background-bg-300);
  --ws-paging-base-btn-hover-bg: var(--ws-color-button-outline-gray-hover-bg);
  --ws-paging-base-btn-bd: var(--ws-color-button-outline-gray-bd);
  --ws-tooltip-base-color: var(--ws-color-text-inverse-static);
  --ws-tooltip-base-bg: var(--ws-color-alpha-black72);
  --ws-tooltip-base-bd: var(--ws-color-alpha-black0);
  --ws-btn-fill01-focus-color: var(--ws-color-button-fill-primary-txt);
  --ws-btn-fill01-focus-bg: var(--ws-color-button-fill-primary-bg);
  --ws-btn-fill01-hover-bg: var(--ws-color-button-fill-primary-hover-bg);
  --ws-btn-fill01-focus-bd: var(--ws-color-button-fill-focus-bd);
  --ws-btn-fill01-hover-color: var(--ws-color-button-fill-primary-txt);
  --ws-btn-fill01-radius: var(--ws-spacing-radius-4);
  --ws-btn-fill01-color: var(--ws-color-button-fill-primary-txt);
  --ws-btn-fill01-hover-bd: var(--ws-color-button-fill-primary-hover-bd);
  --ws-btn-fill01-disabled-color: var(--ws-color-button-fill-disabled-txt);
  --ws-btn-fill01-disabled-bd: var(--ws-color-button-fill-disabled-bd);
  --ws-btn-fill01-bg: var(--ws-color-button-fill-primary-bg);
  --ws-btn-fill01-disabled-bg: var(--ws-color-button-fill-disabled-bg);
  --ws-btn-fill01-bd: var(--ws-color-button-fill-primary-bd);
  --ws-btn-fill02-bd: var(--ws-color-button-fill-gray-bd);
  --ws-btn-fill02-bg: var(--ws-color-button-fill-gray-bg);
  --ws-btn-fill02-color: var(--ws-color-button-fill-gray-txt);
  --ws-btn-fill02-radius: var(--ws-spacing-radius-4);
  --ws-btn-fill02-hover-bd: var(--ws-color-button-fill-gray-hover-bd);
  --ws-btn-fill02-hover-bg: var(--ws-color-button-fill-gray-hover-bg);
  --ws-btn-fill02-hover-color: var(--ws-color-button-fill-gray-txt);
  --ws-btn-fill02-focus-bd: var(--ws-color-button-fill-focus-bd);
  --ws-btn-fill02-focus-bg: var(--ws-color-button-fill-gray-bg);
  --ws-btn-fill02-focus-color: var(--ws-color-button-fill-gray-txt);
  --ws-btn-fill02-disabled-bd: var(--ws-color-button-fill-disabled-bd);
  --ws-btn-fill02-disabled-bg: var(--ws-color-button-fill-disabled-bg);
  --ws-btn-fill02-disabled-color: var(--ws-color-button-fill-disabled-txt);
  --ws-btn-line01-bd: var(--ws-color-button-outline-primary-bd);
  --ws-btn-line01-bg: var(--ws-color-button-outline-primary-bg);
  --ws-btn-line01-color: var(--ws-color-button-outline-primary-txt);
  --ws-btn-line01-radius: var(--ws-spacing-radius-4);
  --ws-btn-line01-hover-bd: var(--ws-color-button-outline-primary-hover-bd);
  --ws-btn-line01-hover-bg: var(--ws-color-button-outline-primary-hover-bg);
  --ws-btn-line01-hover-color: var(--ws-color-button-outline-primary-txt);
  --ws-btn-line01-focus-bd: var(--ws-color-button-outline-focus-bd);
  --ws-btn-line01-focus-bg: var(--ws-color-button-outline-primary-bg);
  --ws-btn-line01-focus-color: var(--ws-color-button-outline-primary-txt);
  --ws-btn-line01-disabled-bd: var(--ws-color-button-outline-disabled-bd);
  --ws-btn-line01-disabled-bg: var(--ws-color-button-outline-disabled-bg);
  --ws-btn-line01-disabled-color: var(--ws-color-button-outline-disabled-txt);
  --ws-form-base-bd: var(--ws-color-form-input-bd);
  --ws-form-base-bg: var(--ws-color-form-input-bg);
  --ws-form-listitem-disabled-color: var(--ws-color-text-disabled);
  --ws-form-listitem-disabled-bg: var(--ws-color-form-listitem-disabled-bg);
  --ws-form-listitem-disabled-bd: var(--ws-color-form-listitem-disabled-bd);
  --ws-grid-base-row-even-bg: var(--ws-color-grid-zibara-2);
  --ws-grid-base-row-odd-bg: var(--ws-color-grid-zibara-1);
  --ws-tab-type03-bd: var(--ws-color-border-base-bd-800);
  --ws-tab-type03-bg: var(--ws-color-alpha-black0);
  --ws-tab-type03-menu-height: 28px;
  --ws-tab-type03-menu-bd: var(--ws-color-alpha-black0);
  --ws-tab-type03-menu-bg: var(--ws-color-background-bg-300);
  --ws-tab-type03-menu-color: var(--ws-color-text-secondary-text-4);
  --ws-tab-type03-menu-hover-bd: var(--ws-color-border-base-bd-800);
  --ws-tab-type03-menu-hover-bg: var(--ws-color-background-bg-300);
  --ws-tab-type03-menu-hover-color: var(--ws-color-text-secondary-text-2);
  --ws-tab-type03-menu-selected-bd: var(--ws-color-border-base-bd-800);
  --ws-tab-type03-menu-selected-bg: var(--ws-color-alpha-black0);
  --ws-tab-type03-menu-selected-color: var(--ws-color-text-secondary-text-2);
  --ws-tab-type03-menu-disabled-bd: var(--ws-color-alpha-black0);
  --ws-tab-type03-menu-disabled-bg: var(--ws-color-background-bg-300);
  --ws-tab-type03-menu-disabled-color: var(--ws-color-text-disabled);
  --ws-tab-type03-content-bd: var(--ws-color-alpha-black0);
  --ws-tab-type03-content-bg: var(--ws-color-background-base-0);
  --ws-btn-line02-bd: var(--ws-color-button-outline-gray-bd);
  --ws-btn-line02-bg: var(--ws-color-button-outline-gray-bg);
  --ws-btn-line02-color: var(--ws-color-button-outline-gray-txt);
  --ws-btn-line02-radius: var(--ws-spacing-radius-4);
  --ws-btn-line02-hover-bd: var(--ws-color-button-outline-gray-hover-bd);
  --ws-btn-line02-hover-bg: var(--ws-color-button-outline-gray-hover-bg);
  --ws-btn-line02-hover-color: var(--ws-color-button-outline-gray-txt);
  --ws-btn-line02-focus-bd: var(--ws-color-button-outline-focus-bd);
  --ws-btn-line02-focus-bg: var(--ws-color-button-outline-gray-bg);
  --ws-btn-line02-focus-color: var(--ws-color-button-outline-gray-txt);
  --ws-btn-line02-disabled-bd: var(--ws-color-button-outline-disabled-bd);
  --ws-btn-line02-disabled-bg: var(--ws-color-button-outline-disabled-bg);
  --ws-btn-line02-disabled-color: var(--ws-color-button-outline-disabled-txt);
}